/* ==== BROWSER RESETS  ==== */
	* { box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	body, html {
		height: 100%;
	}
	body {
		max-width: 1600px;
		margin: 0 auto;
	}


/* ==== UTILITY CLASS  ==== */
	.img-fluid {
		width: 100%;
		height: auto;
	}


/* ==== HEADING AND PARAGRAPH STYLES  ==== */
body {
	font-family: 'Zilla Slab', sans-serif;
}

	.page-wrapper h1 {
		color: #fff;
	}

	.page-wrapper p {
		color: #32364E;
	}


/* ==== Desktop ==== */
@media all and (min-width:767px) { 
	.page-wrapper {
		width: 72%;
		margin: 20px auto 60px auto;
	}

	.page-wrapper h1 { 
		font-size: 52px;
		margin-bottom: 2%;
		font-family: 'Zilla Slab', sans-serif;
	}
	
	.page-wrapper p { 
		font-size: 17px;
		line-height: 1.5;
		margin-bottom: 16px;
		font-family: 'Zilla Slab', sans-serif;
	}
}

/* ==== Mobiles ==== */
@media all and (max-width:768px) { 
	.page-wrapper {
		width: 90%;
		margin: 12px auto 40px auto;
		font-family: 'Zilla Slab', sans-serif;
	}
	.page-wrapper h1 {
		margin-bottom: 8%;
		font-family: 'Zilla Slab', sans-serif;
	}

	.page-wrapper p { 
		font-size: 15px;
		line-height: 1.4;
		margin-bottom:12px;
		color: #222;
		font-family: 'Zilla Slab', sans-serif;
	}
}


/* ==== DESKTOP MENU -==== */

/* ==== Hide desktop menu on mobiles ==== */
@media all and (max-width:767px) { 
	.container-menu-desktop {
		display: none;
	}
}


/* Desktop */
@media all and (min-width:768px) {
	.container-menu-desktop {
		width: 90%;
		height: 70px;
		position: fixed;
		top: 10px;
		left: 5%;
		background-color: #EE32A4;
	}

	.container-menu-desktop img {
		max-width: 50px;
		height: auto;
		float: left;
		margin: 10px;
	}

	.container-menu-desktop ul {
		float: right;
		vertical-align: baseline;
		margin-top: 10px;
	}

	.container-menu-desktop ul li { 
		display: inline;
		list-style-type: none;
	    margin-right: 20px;
	}

	.container-menu-desktop ul li:last-child { 
	    margin-right: 0;
	}

	.container-menu-desktop ul li a { 
		border-bottom: none; 
		text-decoration: none;
		color: #fff;
		font-weight: normal;
		font-size: 18px;
		font-family: 'Zilla Slab', sans-serif;
	}

	.container-menu-desktop ul li a:hover, 
	.container-menu-desktop ul li a:active { 
		border-bottom: none; 
		text-decoration: none;
		color: #fff;
	}

	.container-menu-desktop ul li a.btn-solid { 
		border-bottom: none; 
		text-decoration: none;
		background-color: #EE32A4;
		color: #fff;
	}

	.container-menu-desktop ul li a.btn-solid:hover, 
	.container-menu-desktop ul li a.btn-solid:active { 
		border-bottom: none;
		text-decoration: none;
		background-color: #19dcea;
		color: #fff;
	}


/* === MOBILE MENU -==== */

/* Hide mobile menu on desktops  */
@media all and (min-width:767px) { 
	.container-menu-mobile, .mobile-menu-options {
		display: none;
	}
}

/* ==== Mobiles ==== */
@media all and (max-width:767px) { 

	.container-menu-mobile {
		width: 100%;
		height: 54px;
		background-color: transparent;
		margin-bottom:0;
		height: 54px;
		position: fixed;
		background-color: black;
	}

	.container-menu-mobile img { 
		margin-top: 12px;
		margin-left: 10px;
	}

	.container-menu-mobile #btn-toggle {
		display: none;
	}

	.btn-toggle span.icon-open-mobile-menu::after  {
		content: "\002630"
	}

	.btn-toggle span.icon-close-mobile-menu::after {
		content: "\002715"
	}

	.container-menu-mobile label.btn-toggle {
		float: right;
		margin: 6px 10px 0 0;
		color: #fff;
		background: #EE32A4;
		font-size: 30px;
		font-family: 'Zilla Slab', sans-serif;
	}
	
	.mobile-menu-options {
		position: fixed; 
		top: 54px; 
		bottom: 0; 
		z-index: 1; 
		height: 100%; 
		display: block;
		overflow-x: hidden;
		overflow-y: auto; 
		-webkit-overflow-scrolling: touch; 
		transition: 0.5s;
		background: black;
		width: 320px;
		right: -320px;
		z-index:100;
	}

	ul.menu-mobile-options-list li { 
		list-style-type: none;
	    margin-left: 30px;
		margin-bottom: 30px;
		display: block;
	}

	ul.menu-mobile-options-list li a { 
		border-bottom:none; 
		text-decoration: none;
		color: #fff;
		font-weight:bold;
		font-size:18px;
	}

	ul.menu-mobile-options-list li a:hover, 
	ul.menu-mobile-options-list li a:active { 
		border-bottom: none; 
		text-decoration: underline;
		color: #fff;
	}

	.page-content {
		transition: 0.5s;
	}
}


/* ==== BASIC HYPERLINK STYLES ==== */
	h1 a:link, h1 a:visited {
		color: #EE32A4;
	}

	h1 a:hover, h1 a:active {
		color: #19dcea;
	}

	p a:link, p a:visited {
		color: #EE32A4;
	}

	p a:hover, p a:active {
		color: #19dcea;
	}

/* ==== FANCY HYPERLINK STYLE  ==== */
	p a.fancy { 
		color: #EE32A4;
		text-decoration: none;
		border-bottom: solid 2px black;
		padding-bottom: 1px;
	}

	p a.fancy:hover, p a.fancy:active {
		color: #19dcea;
		text-decoration: none;
		border-bottom: solid 2px deeppink;
		padding-bottom: 1px;
	}

/* ==== SOLID BUTTON HYPERLINK STYLES  ==== */
	a.btn-solid { 
		display: inline-block;
		margin-bottom:20px;
		margin-right: 32px;
		padding: 14px 32px 14px 32px;
		background-color: #EE32A4;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: normal;
	}

	a.btn-solid:hover, a.btn-solid:active {
		background-color: #19dcea;
		color: #fff;
	}

/* ==== GHOST BUTTON HYPERLINK STYLES  ==== */
	a.btn-ghost { 
		display: inline-block;
		margin-bottom:20px;
		margin-right: 30px;
		padding: 14px 30px 14px 30px;
		background-color: #EE32A4;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: normal;
		text-decoration: none !important;
	}

	a.btn-ghost:hover, a.btn-ghost:active {
		background-color: #19dcea;
		color: #fff;
	}


/* ==== BUTTON HYPERLINK CORNER STYLES  ==== */
	a.btn-soft {
		border-radius: 5px;
	}
	
	a.btn-rounded {
		border-radius: 100px;
	}

/* === HERO BLOCK 2 === */
	.hero-block-2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.hero-block-2 h1, .hero-block-2 h2 {
		text-align: left;
		font-family: 'Zilla Slab', sans-serif;
	}

	.hero-block-2 h1 {
		font-weight:bold;
		font-size: calc(32px + (84 - 32) * ((100vw - 320px)/ (1600 - 320)));
		color: #EE32A4;
	}

	.hero-block-2 h2 {
		font-weight: normal;
		line-height: 1.5;
		font-size: calc(18px + (32 - 18) * ((100vw - 320px)/ (1600 - 320)));
		color: #EE32A4;
	}


/* Desktop - height and bottom margin,, text width */
@media all and (min-width:768px) { 
	.hero-block-2 {
		height: 750px;
		margin-bottom: 80px;
	}

	.hero-block-2 h1, .hero-block-2 h2 { 
		width: 70%; 
		margin-left: auto;
		margin-right: auto;
	}

	.hero-block-2 h1 {
		margin-bottom: 1%;
	}

	.hero-block-2 h2 {
		margin-bottom: 0;
	}

}

/* Mobiles - height and bottom margin, text width */
@media all and (max-width:767px) { 
	.hero-block-2 {
		height: 360px;
		margin-bottom: 40px;
	}

	.hero-block-2 h1, .hero-block-2 h2 { 
		margin-top: 0; 
		width: 80%; 
		margin-left: auto;
		margin-right: auto;
	}

	.hero-block-2 h1 {
		margin-bottom: 10%;
	}

	.hero-block-2 h2 {
		margin-bottom: 0;
	}

}

/* ==== HERO-BLOCK-2 COLOR CHANGE ==== */
	.color-change-2x {
		-webkit-animation: color-change-2x 6s ease-in-out infinite alternate both;
		        animation: color-change-2x 6s ease-in-out infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-30 13:27:29
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

/* ====== HERO AND FOOTER SECTIONS ======= */
	.container-hero, .container-footer {
		width: 100%;
		text-align: center;
	}

	.container-hero { 
		background: deeppink; 
		margin: 0 auto 5% auto; 
		padding: 6% 0 5% 0;
	}

	.container-footer { 
		background: #19dcea;
		margin: 0 auto
	}

	.container-hero h1, .container-footer p {
		color: #EE32A4;
		}

	.container-hero h1 {
		font-size: calc(28px + (48 - 28) * ((100vw - 320px) / (1600 - 320))); 
		font-weight: 800;
		line-height: 1.4;
		margin: 0 auto 3% auto;
		width: 60%;
		font-family: 'Zilla Slab', sans-serif; 
	}

	.container-footer p {
		font-family: 'Zilla Slab', sans-serif;
		margin: 0 auto;
		padding: 3% 5%;
		line-height: 1.3;
		font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
	}

	.container-footer	p a:hover, p a:active {
		color: #fff;
	}

/* === CONTAINERS FOR FLEXBOX GRIDS === */
	.container-full {
		width: 100%;
		margin: 0 auto;
	}

/* Desktop */
@media all and (min-width:768px) { 
	.container-wide {
		width: 90%;
		margin: 100px auto 8% auto;
	}

	.container-narrow {
		width: 80%;
		margin: 0 auto 8% auto;
		max-width: 1070px;
	}
}

/* Mobiles */
@media all and (max-width:767px) { 
	.container-wide {
		width: 85%;
		margin: 0px auto 12% auto;
	}

	.container-narrow {
		width: 70%;
		margin: 0 auto 12% auto;
	}
}


/* ==== CONTENT WITHIN COLUMNS OF FLEXBOX GRIDS ====*/
	.flex-grid-three h2, .flex-grid-three h3 {  
		font-weight: 700; 
		color: #484848;
		line-height: 1.1;
	}

	.flex-grid-three h2 {  
		font-size: calc(24px + (42 - 24) * ((100vw - 320px) / (1600 - 320))); 
		margin-bottom: 3%;
	}

	.flex-grid-three h3 { 
		font-weight: 700;
		font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320))); 
	}

	.flex-grid-three p { 
		font-weight: 400;
		color: #484848;
		line-height: 1.5;
		margin-bottom: 6%;
		font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1600 - 320))); 
	}

	.flex-grid-three button { 
		font-family: 'Zilla Slab', sans-serif;
		font-weight: bold; 
		background-color: #EE32A4; 
		color: #fff; 
		letter-spacing: 2px;
		text-transform: uppercase;
		border-width: 0; 
		font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1600 - 320))); 
	}

	.flex-grid-three .col-no-gutter hr { 
		margin-bottom: 20px; 
		width: 20%; 
		height: 12px; 
		background-color: #EE32A4; 
		border-width: 0;
	}

/* Desktop */
@media all and (min-width:768px) { button { padding: 9px 22px } }

/* Mobiles */
@media all and (max-width:767px) { button { padding: 7px 14px } }

/* Desktop */
@media all and (min-width:768px) { 
	.flex-grid-three .col-no-gutter .col-no-gutter-inner {
		padding: 0 8%;
	}
}

/* Mobiles */
@media all and (max-width:767px) { 
	.flex-grid-three .col-no-gutter .col-no-gutter-inner {
		padding: 4% 9%;
	}
}

/* ==== THREE COLUMN GRID ======= */
	.flex-grid-three {
		display: flex;
	}

/* Desktop */
@media all and (min-width:768px) { 
	.flex-grid-three { 
		flex-direction: row; /* left to right */
		text-align: left
	}
}

/* Mobiles */
@media all and (max-width: 768px) { 
	.flex-grid-three { 
		flex-direction: column; /* top to bottom */
		text-align: center
	}
}

/* ==== COLUMNS IN THREE COLUMN GRID ======= */
/* Desktop */
@media all and (min-width: 768px) { 
	.flex-grid-three .col-gutter { width: 32% }
	{text-decoration: none !important;}

	.flex-grid-three .col-gutter:nth-child(1) { margin-right: 4% }
	.flex-grid-three .col-gutter:nth-child(2) { margin-right: 4% }
	.flex-grid-three .col-gutter:nth-child(3) { margin-right: 0 }

	.flex-grid-three .col-no-gutter { width: 33.3% }

	.flex-grid-three .col-vertical-center { align-self: center }
	.col-gutter h3 {margin-top: 3%;}
}


/* ==== Mobiles ==== */
@media all and (max-width:768px) { 
	.flex-grid-three .col-gutter, 
	.flex-grid-three .col-no-gutter {
		width: 100%;
		{text-decoration: none !important;}
	}

	.flex-grid-three .col-no-gutter h2 {
		margin-top: 5%;
	}

	.flex-grid-three .col-no-gutter button {
		margin-bottom: 5%
	}
	.col-gutter h3 {margin-top: 3%;}
}


/* ==== CONTACT ME (W3Schools!) ==== */
input[type=text], select, textarea {
	font-size: 14px;
	font-family: 'Zilla Slab', sans-serif;
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 0px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
	font-family: 'Zilla Slab', sans-serif;
	background-color: #EE32A4;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 0px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #19dcea;
}

/* ==== PRIVACY CONTAINER ===*/
	.container {
		line-height:1.5; 
		font-size:16px; 
		font-family: Zilla Slab, sans-serif;
		width:75%; margin: auto;
		margin-bottom: 50px;
		padding-top: 25px;
	}

	.container p {
		margin-bottom: 20px;
		}

	.container ul li {
		margin-left: 20px;
		margin-bottom: 10px;
	}

	.container h4 {
		margin-top: 20px;
	}

/* === HERO ANIMATION === */
	.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-26 16:58:39
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}